rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function belongsTo(userId) {
      return request.auth.uid == userId;
    }

    function isValidOwner(userId) {
      return isAuthenticated() && belongsTo(userId);
    }

    // deny any access by default
    match /{document=**} {
      allow read, write, delete, update, create, list: if false;
    }

    match /users/{userId}/tasks/{taskId} {
      allow read, write: if isValidOwner(userId);
    }

    match /users/{userId} {
      allow read, update: if isValidOwner(userId);
      allow list: if false; // deny listing users
    }
  }
}